<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AudioFileIO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MUSI8903Exec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>sndlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0637CE731AEE4453AA8E3179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E91D206714748AAAB9F3DA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F19E8D61CB843E5AA51A2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6A97064708149FC8096C02F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F097D95CDB4DD6BA7B798D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
